using System;

namespace CommandLineLib
{
   public class $<TypeName>$ValueArgument : ValueArgument<$<TypeName>$>
   {
      public $<TypeName>$ValueArgument( PropertyAccessor property, int ordinal, bool optional, int[] groups, string description, $<TypeName>$[] acceptableValues, $<TypeName>$ rangeMin, $<TypeName>$ rangeMax )
         : base( property, ordinal, optional, groups, description, acceptableValues )
      {
      }
   }
}